In [4]:
#String is immutable
name = "Sam"
#Change "Sam" to "Pam"

#Since Strings are immutable, this assignment is not possible
#name[0] = "P"

#We can do it by concatenation
name = "P"+name[1:]

print(name)

Pam

In [5]:
letter = "z"

letter*10

'zzzzzzzzzz'

In [6]:
"2"+"3"

'23'

In [7]:
"2"+3

TypeError: can only concatenate str (not "int") to str

In [8]:
#Change the string to uppercase, lowercase
name.upper()
name.lower()

'PAM'

In [11]:
#Split function will split the screen with " " or by the given letter
str = "Hello World"
print(str.split())
print(str.split("o"))

['Hello', 'World']
['Hell', ' W', 'rld']